.profile-container {
    margin-top: 40px;
    padding: 40px;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    margin-bottom: 15px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
  }
  
  .loading-text {
    font-size: 24px;
    font-weight: bold;
  }
  